<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity android:name="com.example.loginapp.paid.LandingActivity">

        </activity>

        <activity-alias
            android:name="${applicationId}.aliasMain"
            android:targetActivity="com.example.loginapp.paid.LandingActivity"
            tools:replace="android:targetActivity" />

        <activity
            android:name="com.example.loginapp.home_activity.view.HomeActivity"
            tools:node="remove" />

    </application>

</manifest>