<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.loginapp">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">
        <activity android:name=".posts.add_post_activity.AddPostActivity"
            android:parentActivityName=".posts.post_activity.PostsActivity">

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".posts.post_activity.PostsActivity"/>
        </activity>
        <activity
            android:name=".posts.post_activity.PostsActivity"
            android:label="@string/title_activity_posts"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"/>
        <activity android:name=".landing_activity.LandingActivity" />

        <activity-alias
            android:name="${applicationId}.aliasMain"
            android:targetActivity=".landing_activity.LandingActivity" />


        <activity android:name=".login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>